@{
    ViewBag.Title = "Centric Consulting";
}

<table class="table" style="border">
    <h1>Social Media</h1>
    <tr>
        <th>
            <a href="https://www.linkedin.com/company/centric-consulting/">LinkedIn</a>
        </th>
        <th>
            <a href="https://twitter.com/centric">Twitter</a>
        </th>
        <th>
            <a href="https://www.facebook.com/CentricConsultingNational">Facebook</a>
        </th>
        <th>
            <a href="https://www.instagram.com/centricconsulting/">Instagram</a>
        </th>
    </tr>

