@{
    ViewBag.Title = "Centric Consulting";
}

<body>
    <table class="table" style="border">
        <h1>Social Media</h1>
        <tr>
            <th>

                <center><a href="https://www.linkedin.com/company/centric-consulting/">LinkedIn</a></center>

            </th>
            <th>
                <center><a href="https://twitter.com/centric">Twitter</a></center>
            </th>
            <th>
                <center><a href="https://www.facebook.com/CentricConsultingNational">Facebook</a></center>
            </th>
            <th>
                <center><a href="https://www.instagram.com/centricconsulting/">Instagram</a></center>
            </th>
        </tr>


        <table class="table" style="border">
            <tr>
                <th>

                    <center> <img src="~/Images/linkedin.png" height="100" width="100" margin="45px" /></center>

                </th>
                <th>
                    <center><img src="~/Images/twitter.png" height="100" width="100" margin="30px" /></center>
                </th>
                <th>
                    <center><img src="~/Images/facebook.png" height="100" width="100" margin="30px" /></center>
                </th>
                <th>
                    <center><img src="~/Images/instagram2.png" height="100" width="100" margin="25px" /></center>
                </th>
            </tr>
            </body>
