@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid" style="color:orange">
    <div class="jumbotron" style="background-color:white">
        <center><img src="~/Images/CentricLogo.png" height="125" /></center>



        <h1><center> Centric's Core Values </center></h1>

        <p class="lead"></p>
        <p><center><a href="~/Nominations/Create" class="btn btn-warning" style="color:white">Nominate Centric Employee &raquo;</a></center></p>
    </div>

    <div class="row">

        <div class="col-md-4">

            <div style="text-align:center; border:double; background-image:url('/Images/stewardship.jpg'); background-size:cover; margin:10px;">

                <h2><u>Stewardship</u></h2>

                <p>Practice responsible stewardship.</p>

            </div>



        </div>

        <div class="col-md-4">

            <div style="text-align:center; border:double; background-image:url('/Images/culture.jpg'); background-size:cover; margin:10px;">

                <h2><u>Culture</u></h2>

                <p>Invest in exceptional culture.</p>


            </div>

        </div>


        <div class="col-md-4">

            <div style="text-align:center; border:double; margin:10px;">

                <h2><u>Excellence</u></h2>

                <p>Committ to delivering excellence.</p>

            </div>

        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div style="text-align:center; border:double; margin:10px;">

                <h2><u>Greater Good</u></h2>

                <p>Ignite passion for the greater good.</p>

            </div>

        </div>

        <div class="col-md-4">



            <div style="text-align:center; border:double; margin:10px;">

                <h2><u>Balance</u></h2>

                <p>Live a balanced life.</p>


            </div>



        </div>


        <div class="col-md-4">



            <div style="text-align:center; border:double; margin:10px;">

                <h2 class="card-title"><u>Innovation</u></h2>

                <p class="card-text">Always strive to innovate.</p>

            </div>



        </div>
    </div>
    <div class="row">

        <div class="col-md-4">

        </div>

        <div class="col-md-4">

            <div style="text-align:center; border:double; margin:10px;">

                <h2 class="card-title"><u>Integrity and Openness</u></h2>

                <p class="card-text">Embrace integrity and openness.</p>

            </div>

        </div>
        <div class="col-md-4">


        </div>
    </div>
</div>














