@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centric's core values</h1>
    <p class="lead"></p>
    <p><a href="#" class="btn btn-primary btn-lg">Nominate Centric Employee &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><u>Stewardship</u></h2>
         <p>Practice responsible stewardship</p>
    </div>
    <div class="col-md-4">
        <h2><u>Culture</u></h2>
        <p>Invest in exceptional culture</p>
    </div>
    <div class="col-md-4">
        <h2>Excellence</h2>
        <p>Committ to delivering excellence</p>
    </div>
    <div class="col-md-4">
        <h2><u>Innovation</u></h2>
        <p>Always strive to innovate</p>
    </div>
    <div class="col-md-4">
        <h2><u>Greater Good</u></h2>
        <p>Ignite passion for the greater good</p>
    </div>
    <div class="col-md-4">
        <h2><u>Balance</u></h2>
        <p>Live a balanced life</p>
    </div>
    <div class="col-md-4">
        <h2><u>Intregrity and Openness</u></h2>
        <p>Embrace intregrity and openness</p>
    </div>

</div>

