@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid" style="color:orange;">
    <div class="jumbotron" style="background-color:white; align-content:center;">
        <center><img src="~/Images/CentricLogo.png" height="125" /></center>



        <center><h1> Centric's Core Values </h1></center>

        <p class="lead"></p>
        <p><center><a href="~/Nominations/Create" class="btn btn-warning" style="color:white">Nominate Centric Employee &raquo;</a></center></p>
    </div>

    <div class="container" style="color:white; margin-left: -21px">
    <div class="row">

        <div class="col-md-4">

            <div style="text-align:center; border:double; background-image:url('/Images/stewardship.jpg'); background-size:cover; margin:10px;">

                <h2><u><b>Stewardship</b></u></h2>

                <p><b>Practice responsible stewardship.</b></p>

            </div>

        </div>

        <div class="col-md-4">

            <div style="text-align:center; border:double; background-image:url('/Images/culture.jpg'); background-size:cover; margin:10px;">

                <h2><u><b>Culture</b></u></h2>

                <p><b>Invest in exceptional culture.</b></p>


            </div>

        </div>


        <div class="col-md-4">

            <div style="text-align:center; border:double; margin:10px; background-image:url('/Images/excellence.jpg'); background-size:cover;">

                <h2><u><b>Excellence</b></u></h2>

                <p><b>Committ to delivering excellence.</b></p>

            </div>

        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div style="text-align:center; border:double; margin:10px; background-image:url('/Images/greaterGood.jpg'); background-size: cover;">

                <h2><u><b>Greater Good</b></u></h2>

                <p><b>Ignite passion for the greater good.</b></p>

            </div>

        </div>

        <div class="col-md-4">



            <div style="text-align:center; border:double; margin:10px; background-image:url('/Images/balance.jpg'); background-size: cover;">

                <h2><u><b>Balance</b></u></h2>

                <p><b>Live a balanced life.</b></p>


            </div>



        </div>


        <div class="col-md-4">



            <div style="text-align:center; border:double; margin:10px; background-image:url('/Images/innovation1.jpg'); background-size: cover;">

                <h2><u><b>Innovation</b></u></h2>

                <p><b>Always strive to innovate.</b></p>

            </div>



        </div>
    </div>
    <div class="row">

        <div class="col-md-4">

        </div>

        <div class="col-md-4">

            <div style="text-align:center; border:double; margin:10px; background-image:url('/Images/integrity.jpg'); background-size: inherit;">

                <h2><u><b>Integrity and Openness</b></u></h2>

                <p><b>Embrace integrity and openness.</b></p>

            </div>

        </div>
        <div class="col-md-4">


        </div>
    </div>
        </div>
</div>
    














