@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid" style="color:orange">
    <div class="jumbotron" style="background-color:white">
        <center><img src="~/Images/CentricLogo.png" height="125" /></center>



        <h1><center> Centric's Core Values </center></h1>

        <p class="lead"></p>
        @*<p><center><a href="~/Views/Nominations/Create.cshtml" class="btn btn-warning" style="color:white">Nominate Centric Employee &raquo;</a></center></p>*@
    </div>
</div>
<div class="row">

    <div class="col-md-4">

        <div class="card border-warning">

            <div class="card-body">
                
                <h2 class="card-title"><u>Stewardship</u></h2>

                <p class="card-text">Practice responsible stewardship.</p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card border-dark">

            <div class="card-body">

                <h2 class="card-title"><u>Culture</u></h2>

                <p class="card-text">Invest in exceptional culture.</p>


            </div>

        </div>

    </div>


    <div class="col-md-4">

        <div class="card border-light">

            <div class="card-body">

                <h2 class="card-title"><u>Excellence</u></h2>

                <p class="card-text">Committ to delivering excellence.</p>

            </div>

        </div>

    </div>
</div>
<div class="row">

    <div class="col-md-4">

        <div class="card border-warning">

            <div class="card-body">

                <h2 class="card-title"><u>Greater Good</u></h2>

                <p class="card-text">Ignite passion for the greater good.</p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card border-dark">

            <div class="card-body">

                <h2 class="card-title"><u>Balance</u></h2>

                <p class="card-text">Live a balanced life.</p>


            </div>

        </div>

    </div>


    <div class="col-md-4">

        <div class="card border-light">

            <div class="card-body">

                <h2 class="card-title"><u>Innovation</u></h2>

                <p class="card-text">Always strive to innovate.</p>

            </div>

        </div>

    </div>
</div>
<div class="row">

    <div class="col-lg-4">

        <div class="card border-light">

            <div class="card-body" style="border-color:white">

                <h2 class="card-title"><u>Integrity and Openness</u></h2>

                <p class="card-text">Embrace integrity and openness.</p>

            </div>

        </div>

    </div>
    </div>













    @*<div class="row">
            <div class="col-md-4">
                <h2><u>Stewardship</u></h2>
                <p>Practice responsible stewardship</p>
            </div>
            <div class="col-md-4">
                <h2><u>Culture</u></h2>
                <p>Invest in exceptional culture</p>
            </div>
            <div class="col-md-4">
                <h2><u>Excellence</u></h2>
                <p>Committ to delivering excellence</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <h2><u>Greater Good</u></h2>
                <p>Ignite passion for the greater good</p>
            </div>
            <div class="col-md-4">
                <h2><u>Balance</u></h2>
                <p>Live a balanced life</p>
            </div>
            <div class="col-md-4">
                <h2><u>Innovation</u></h2>
                <p>Always strive to innovate</p>
            </div>
            <div class="row">
                <div class="col-md-offset-4">
                    <h2><u>Intregrity & Openness</u></h2>
                    <p>Embrace intregrity and openness</p>
                </div>
            </div>
        </div>*@


