@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron" style="        background-image: url(https://centricconsulting.com/wp-content/themes/orbit-media/images/centric-logo.png)">
        @*<center><h1>Centric's Core Values</h1></center>*@
        <p class="lead"></p>
        <p><center><a href="#" class="btn btn-warning" style="color:white">Nominate Centric Employee &raquo;</center></a></p>

    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2><u>Stewardship</u></h2>
        <p>Practice responsible stewardship</p>
    </div>
    <div class="col-md-3">
        <h2><u>Culture</u></h2>
        <p>Invest in exceptional culture</p>
    </div>
    <div class="col-md-3">
        <h2><u>Excellence</u></h2>
        <p>Committ to delivering excellence</p>
    </div>
    <div class="col-md-3">
        <h2><u>Innovation</u></h2>
        <p>Always strive to innovate</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2><u>Greater Good</u></h2>
        <p>Ignite passion for the greater good</p>
    </div>
    <div class="col-md-3">
        <h2><u>Balance</u></h2>
        <p>Live a balanced life</p>
    </div>
    <div class="col-md-6">
        <h2><u>Intregrity & Openness</u></h2>
        <p>Embrace intregrity and openness</p>
    </div>
</div>


