
@{
    ViewBag.Title = "DuplicateUser";
}

<br /><br />

<div class="alert alert-danger">

    <h2>Error</h2>

    <p>That user already exists - request not saved</p>

</div>

<br />

@Html.ActionLink("Return to home", "index", "home")

